.main {
  font-family: Outfit, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--blue-950);
  color: var(--white);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .card{
    background-color: var(--blue-900);
    color: var(--white);
    border-radius: 20px;
    padding: 30px;
    max-width: 400px;
    margin: 0 auto;

    .imageContainer{
      position: relative;
      width: 100%;
      height: 350px;
      overflow: hidden;
      border-radius: 20px;
      
      .image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: inherit;
        border-radius: 20px;
      }
      
      .viewOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--cyan-400-semi);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        opacity: 0;
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 1;
          cursor: pointer;
        }

        .viewIcon {
          position: absolute;
          top: 50%; 
          left: 50%;
          transform: translate(-50%, -50%);
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
      
    .title {
      font-weight: 600;
      font-size: 24px;
      margin: 20px 0 10px 0;
      
      &:hover {
        color: var(--cyan-400);
        cursor: pointer;
      }
    }

    .description {
      font-weight: 300;
      font-size: 18px;
      word-spacing: 3px;
      margin-bottom: 20px;
      color: var(--blue-500);
      line-height: 1.5;

    }

    .stats {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      color: var(--blue-500);

      .price {
        display: flex;
        align-items: center;
        color: var(--cyan-400);
        font-weight: 600;
      }
      
      .price img {
        margin-right: 5px;
      }

      .timeLeft {
        display: flex;
        align-items: center;
      }

      .timeLeft img {
        margin-right: 5px;
      }
    }

    .divider {
      width: 100%;
      height: 2px;
      background-color: var(--blue-800);
      margin: 25px 0 0 0;
      border: none;
    }

    .footer {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
        border: 2px solid var(--blue-500);
      }

      span {
        font-size: 16px;

        strong {
          font-weight: 600;
          
          &:hover {
            color: var(--cyan-400);
            cursor: pointer;
          }
        }
      }
    }
  }
}